@charset "utf-8";
/* CSS Document */

/* CSS FONT */
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

@font-face {
    font-family: "Litefont";
    src: url(../font/libel-suit-rg.ttf) format("truetype");
} 
@font-face {
    font-family: "Zwizz-Regular";
    src: url(../font/wizz-Regular.ttf) format("truetype");
}   
@font-face {
    font-family: "OmTeloletOm";
    src: url(../font/OmTeloletOm.ttf) format("truetype");
}     
@font-face {
    font-family: "world_of_water";
    src: url(../font/world_of_water.ttf) format("truetype");
}     

/* CSS BEGIN */

*{
    margin:0;
    padding:0;
}
body{
    background-color: #fff;
    font-family:Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.bg-faded{
    background-color: #fff;
}

#login-form {
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 50%;
    margin:2.5% auto;
    max-width:500px;
}
/* home page */
#wrapper{
    /*padding-top:50px;*/
}
.navbar {
    margin-bottom: -0px !important;
}
.menu-link{
    font-weight:bold;
    text-transform: uppercase;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}

.bg-primary {
    background-color: #000 !important;
}

.bg-circle
{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}

.bg-circle-outline
{
    width: 50px;
    height: 50px;
    color:smoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: smoke;
    border-radius: 50%;
}
.bg-circle {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}



.bg-circle a, a:hover, .media a:focus
{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}

.d-inline-block {
    display: inline-block !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.bg-info {
    background-color: #5bc0de !important;
}
a.bg-danger:focus, a.bg-danger {
    background-color: #c9302c !important;
}

.navbar-nav>li>a:hover{
    color: #337ab7;
}


// SIDEBAR WIGED
sidebar-widget {
    background: #fff;
    position: relative;
    margin: 0 0 20px;
    word-break: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.widget-head {
    position: relative;
    z-index: 100;
    line-height: 28px;
    margin-top: -5px;
    margin-bottom: 15px;
    padding: 5px;
    min-height: 28px;
    font-size: 15px;
    border: 1px solid #DDD;
    color: #646464;
    background: #FBFBFB url(https://2.bp.blogspot.com/-cuGqqvuWamA/UG1qcc8jYOI/AAAAAAAAENs/L-mrxMKeWBs/s1600/bg-menu.gif) repeat-x top center;
    text-align: center;
    border-radius: 6px;
}

.sidebar-widget ul {
    position: relative;
    margin: -10px 0 0;
}
.feedzy-rss ul {
    margin: 0 -2%;
}
.feedzy-rss > ul {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
.feedzy-rss .rss_item {
    margin: 2%;
    padding: 0;
}

.feedzy-rss .rss_item {
    border-bottom: 1px solid #eee;
    list-style: none;
}

.sidebar-widget li {
    padding: 10px 0 10px;    
    line-height: 16px;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
}
.sidebar-widget li a {
    font-size: 14px;
}

@charset "utf-8";
/* CSS Document */

#container {
	margin:0 auto;
}

#header {
	background-color:#337ab7;
	padding:10px 20px;
	color:#FFF;
}

	#header #logo {
		float:left;
	}
	
	#header #info {
		float:right;
		background-color:#000;
		padding:10px 5px;
		width:230px;
		border-radius:10px;
		box-shadow:0px 0px 10px #9DB4FF inset;
		line-height:16px;
	}

		#header #info img {
			float:left;
			border:none;
			margin:0px 5px;
			width:46px;
			height:46px;
			border-radius:46px;
			border:2px solid #000;
			box-shadow:0px 0px 2px #999999;
		}
	
	#header a {
		color:#CCC;
	}

#menu {
	background-color:#337ab7;
	text-align:center;
	margin-bottom:20px;
        padding: 10px;
}

	#menu img {
		margin:0 5px -3px -2px;
	}

	#menu a {
		background:url(../media/img/example/bg-menu-link.png) repeat-x;
		display:inline-block;
		padding:9px 20px;
		color:#000;
		font-weight:bold;
		text-decoration:none;
		margin-left:-2px;
		margin-right:-2px;
	}
	
		#menu a.left {
			border-top:1px solid #999;
			border-bottom:1px solid #999;
			border-left:1px solid #999;
			border-top-left-radius:15px;
			border-bottom-left-radius:15px;
		}
		
		#menu a.center {
			border-top:1px solid #999;
			border-bottom:1px solid #999;
			border-left:2px groove #CCC;
		}
		
		#menu a.right {
			border-top:1px solid #999;
			border-bottom:1px solid #999;
			border-right:1px solid #999;
			border-left:2px groove #CCC;
			border-top-right-radius:15px;
			border-bottom-right-radius:15px;
		}
		
		#menu a:hover {
			background:url(../media/img/example/bg-menu-link-hover.png) repeat-x;
		}
		
		#menu a.selected {
			background:url(../media/img/example/bg-menu-link-hover.png) repeat-x;
		}

#shortcut {
	text-align:center;
}

	#shortcut a {
		background:#FFF;
		display:inline-block;
		border:1px solid #999;
		height:85px;
		width:85px;
		text-align:center;
		color:#444;
		text-decoration:none;
		padding:5px;
		margin:0px 5px;
		box-shadow:1px 1px 3px #CCC;
	}
	
		#shortcut a:hover {
			box-shadow:0px 0px 5px #555;
		}

#content {
	margin:20px;
	color:#555;
}

	#content #body {
		background:#FFF;
		margin-bottom:20px;
		border:1px solid #CCCCCC;
		box-shadow:0px 0px 3px #CCC;
	}
		
		#content #body .title {
			background:url(../media/img/example/bg-body-title.png) repeat-x;
			padding:7px 10px;
			font-size:14px;
			font-weight:bold;
			text-shadow:1px 1px 2px #DDD;
			color:#000;
		}
		
		#content #body .body {
			padding:7px 10px;
		}
		
			#content #body .body a.submenu {
				display:block;
				font-weight:bold;
				text-decoration:none;
				color:#555;
				font-size:14px;
				padding:7px 10px;
				border-bottom:1px dotted #555;
			}
			
				#content #body .body a.submenu img {
					margin:0 5px -4px 0;
				}
				
				#content #body .body a.submenu:hover {
					color:#000;
					border-bottom:1px dotted #000;
					text-shadow:1px 1px 2px #CCC;
				}
				
				#content #body .body #stat {
					font-size:14px;
					font-weight:bold;
					padding:7px 5px;
					border-bottom:1px dotted #555;
				}
				
					#content #body .body #stat .value {
						float:right;
					}

#footer {
	background-color:#337ab7;
	padding:10px 20px;
	color:#FFF;
	text-align:center;
}

.table {
	border-collapse:collapse;
	box-shadow:0px 0px 3px #CCC;
	margin-bottom:20px;
}

	.table, .table th, .table td {
		border:1px solid #CCC;
		padding:7px 10px;
	}
	
	.table .th {
		background:url(../media/img/example/bg-body-title.png) repeat-x;
		font-size:14px;
		font-weight:bold;
		color:#000000;
		text-shadow:1px 1px 2px #DDD;
	}
		
		.table td img {
			margin:0 5px -3px 5px;
		}
		
		.table tr.td:hover {
			background:#AFD7FE;
			color:#000000;
			text-transform:1px 1px 2px #777;
		}
	
a.red {
	display:inline-block;
	background:#F74F4F;
	color:#FFF;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	border:1px solid #900;
	margin:5px;
}

	a.red img {
		margin:0 5px -4px 0;
	}

a.orange {
	display:inline-block;
	background:#F90;
	color:#FFF;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	border:1px solid #F63;
	margin:5px;
}

	a.orange img {
		margin:0 5px -4px 0;
	}

a.green {
	display:inline-block;
	background:#72FF6F;
	color:#FFF;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	border:1px solid #090;
	margin:5px;
}

	a.green img {
		margin:0 5px -4px 0;
	}
	
a.blue {
	display:inline-block;
	background:#426CFF;
	color:#FFF;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	border:1px solid #03F;
	margin:5px;
}

	a.blue img {
		margin:0 5px -4px 0;
	}

.mgs-blue {
	border:1px solid #03F;
	background:#7D9AFF;
	padding:5px 10px;
	color:#FFF;
	margin:5px;
}

	.mgs-blue img {
		float:left;
		padding-right:10px;
	}

.mgs-red {
	border:1px solid #F53434;
	background:#F97777;
	padding:5px 10px;
	color:#FFF;
	margin:5px;
}

	.mgs-red img {
		float:left;
		padding-right:10px;
	}

.mgs-green {
	border:1px solid #090;
	background:#39E146;
	padding:5px 10px;
	color:#FFF;
	margin:5px;
}

	.mgs-green img {
		float:left;
		padding-right:10px;
	}
	
.desc {
	font-size:10px;
	color:#999;
}

.clear {
	clear:both;
}

    .qlue-content{
        margin-bottom: 35px;
    }
    @media (max-width: 480px) {
        .page-header{
            text-align: center;
        }
        .wrapper_profil{
            margin-left: 0px !important;
        }
    }
    @media (max-width: 926px){
        .text-align-md{
            text-align: center;
        }
    }

    .loginmodal-container {
        padding: 30px;
        max-width: 350px;
        width: 100% !important;
        background-color: #F7F7F7;
        margin: 0 auto;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        font-family: roboto;
    }

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .loginmodal-container input[type=text]:hover, input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .loginmodal {
        text-align: center;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
        /* border-radius: 3px; */
        /* -webkit-user-select: none;
          user-select: none; */
    }

    .loginmodal-submit {
        /* border: 1px solid #3079ed; */
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1); 
        background-color: #4d90fe;
        padding: 17px 0px;
        font-family: roboto;
        font-size: 14px;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
    }

    .loginmodal-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

    .loginmodal-container a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
        transition: opacity ease 0.5s;
    } 

    .login-help{
        font-size: 12px;
    }
